<nav id="nav-primary" class="nav-flyover">
  <button type="button" class="btn-icon close" data-dismiss="flyover">
    <i class="fa fa-times-circle-o"></i>
  </button>

  <div class="flyover-content">
    <div class="wrap">
      <ul>
        <li>
          <a href="/">Page One</a>

          <ul>
            <li>
              <a href="/">Sub-Page One</a>
            </li>
            <li>
              <a href="/">Sub-Page Two</a>
            </li>
            <li>
              <a href="/">Sub-Page Three</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">Page Two</a>
        </li>
        <li>
          <a href="/">Page Three</a>

          <ul>
            <li>
              <a href="/">Sub-Page One</a>
            </li>
            <li>
              <a href="/">Sub-Page Two</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">Page Four</a>
        </li>
        <li>
          <a href="/">Page Five</a>

          <ul>
            <li>
              <a href="/">Sub-Page One</a>
            </li>
            <li>
              <a href="/">Sub-Page Two</a>
            </li>
            <li>
              <a href="/">Sub-Page Three</a>
            </li>
            <li>
              <a href="/">Sub-Page Five</a>
            </li>
            <li>
              <a href="/">Sub-Page Six</a>
            </li>
            <li>
              <a href="/">Sub-Page Seven</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">Page Six</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
