<nav id="nav-primary" class="nav-flyover">
  <button type="button" class="btn-icon close" data-dismiss="flyover">
    <i class="fa fa-times-circle-o"></i>
  </button>

  <div class="wrap">
    <ul>
      <li>
        <a href="/">Page One</a>
      </li>
      <li>
        <a href="/">Page Two</a>
      </li>
      <li>
        <a href="/">Page Three</a>
      </li>
      <li>
        <a href="/">Page Four</a>
      </li>
      <li>
        <a href="/">Page Five</a>
      </li>
      <li>
        <a href="/">Page Six</a>
      </li>
    </ul>
  </div>
</nav>
