/**** Library ****/
.page {
  @include outer-container();
}

.logo-cs {
  background: url('../images/logo-cs.png') no-repeat 0 -38px;
  display: inline-block;
  height: 26px;
  margin: 0;
  text-indent: -9999px;
  vertical-align: middle;
  width: 216px;
  @include hide-text;

  @include hidpi(2) {
    background-image: url('../images/logo-cs@2x.png');
    background-size: 216px 74px;
  }

  @include media($tablet) {
    height: 37px;
  }

  a {
    @extend %block-link;
  }
}

.content-section {
  @include span-columns(12);
  padding: 2em 0;

  h2 {
    @extend .flush-top;
  }
}

.thirds {
  padding: 0 1em;
  @include span-columns(4 of 12);
}

hr {
  background: $base-border-color;
  margin: 0;
  border: 0;
  height: 1px;
  @include span-columns(12);
}