/**** Lists ****/
dl {
  margin-bottom: $base-line-height;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $base-line-height / 2;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
    @include text-overflow();
  }

  dd {
    margin-left: 130px;
  }
}

%list-horizontal {
  margin: 0;

  > li {
    display: inline-block;
  }
}

%list-unstyled {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

.list-tree {
  @extend %list-unstyled;

  li {
    border-left: 1px solid $gray-light;
    padding: 0 0 1em 2em;
    position: relative;

    &:before {
      background: $gray-light;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 26px;
      width: 19px;
    }

    &:last-child:after {
      background: $beige;
      content: '';
      height: calc(100% - 19px);
      left: -1px;
      position: absolute;
      top: 27px;
      width: 1px;
    }
  }

  a {
    @extend .link-orange-big;
  }
}
