/**** Lists ****/
dl {
  margin-bottom: $base-line-height;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $base-line-height / 2;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
    @include text-overflow();
  }

  dd {
    margin-left: 130px;
  }
}

.dl-primary {
  dt {
    font-size: em(13, $base-value);
    font-weight: normal;
  }

  dd {
    font-size: em(19, $base-value);
    margin: 0 0 .5em;
  }
}

%list-horizontal {
  margin: 0;

  > li {
    display: inline-block;
  }
}

%list-unstyled {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

%flex-column-list {
  @include outer-container;

  /* if only one column exists, make it full width */
  %flex-col {
    @include span-columns(12 of 12, collapse);
  }

  /* if two columns exist, make them both half width */
  %flex-col:first-child:nth-last-child(2),
  %flex-col:first-child:nth-last-child(2) ~ %flex-col {
    @include span-columns(6 of 12, collapse);
  }

  /* three columns... */
  %flex-col:first-child:nth-last-child(3),
  %flex-col:first-child:nth-last-child(3) ~ %flex-col {
    @include span-columns(4 of 12, collapse);
  }

  /* four columns... */
  %flex-col:first-child:nth-last-child(4),
  %flex-col:first-child:nth-last-child(4) ~ %flex-col {
    @include span-columns(3 of 12, collapse);
  }
}

.list-primary {
  font-size: em(18, $base-value);
  margin: 0;

  li {
    margin: .5em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding-left: 1em;
  }
}

.list-column-row {
  @extend %flex-column-list;

  .list-col {
    @extend %flex-col;
    border-right: 1px solid $base-border-color;
    padding: 0 2em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
  }
}

.wireframe-column-row {
  @extend %flex-column-list;

  .wireframe-col {
    @extend %flex-col;
    padding: 0 2em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
      padding-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

.list-tree {
  @extend %list-unstyled;

  li {
    border-left: 1px solid $base-border-color;
    padding: 0 0 1em 2em;
    position: relative;

    &:before {
      background: $base-border-color;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 26px;
      width: 19px;
    }

    &:last-child:after {
      background: $beige;
      content: '';
      height: calc(100% - 19px);
      left: -1px;
      position: absolute;
      top: 27px;
      width: 1px;
    }
  }

  a {
    @extend .link-orange-big;
  }
}