<nav id="nav-primary" class="nav-primary">
  <ul class="nav-menu">
    <li class="nav-action"><a href="/styles/"><i class="fa fa-tachometer fa-fw"></i> Styles</a></li>
    <li class="nav-action child-active"><a href="#"><i class="fa fa-envelope fa-fw"></i> Messages</a>
      <ul class="nav-submenu">
        <li class="nav-action-sub"><a href="#"><i class="fa fa-inbox fa-fw"></i> Inbox</a></li>
        <li class="nav-action-sub active"><a href="#"><i class="fa fa-share fa-fw"></i> Sent</a></li>
        <li class="nav-action-sub last"><a href="#"><i class="fa fa-trash-o fa-fw"></i> Deleted</a></li>
      </ul>
    </li>
    <li class="nav-action"><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
    <li class="nav-action"><a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
  </ul>
</nav>
