/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

body.with-fixed-header {
  padding-top: em(44);
}

.wrap {
  margin: 0 auto;
  max-width: em(700);
}

// Simple Header
.header-primary {
  background: $orange;
  color: $white;
  height: em(44);
  overflow: hidden;
  padding: 0 0.5em;

  .wrap {
    @include row(table);
  }

  .brand {
    font-size: em(18);
    @include span-columns(10, table-cell);

    .logo-cs {
      margin-right: 0.25em;
    }
  }

  .tools {
    text-align: right;
    @include span-columns(2, table-cell);
  }

  button {
    color: $white;
  }

  a {
    @include link-variant($white);
    @include transition(opacity $transition-duration ease-in-out);
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: $white;
      opacity: 0.5;
    }
  }
}

.nav-flyover {
  @include position(fixed, 0 0 0 0);
  @include transform(translate3d(0, -100%, 0));
  @include transition(all $transition-duration ease-in-out);
  background: transparentize($white, 0.06);
  font-family: $sans-serif;
  z-index: 200;

  &.in {
    @include transform(translate3d(0,0,0));
  }

  .close {
    @include position(absolute, 0 0 null null);
    font-size: em(40);
    padding: 0.25em;
  }

  ul {
    @extend %list-unstyled;
    border-top: 1px solid transparentize($base-border-color, 0.75);
    margin-top: em(62);

    @include media($medium-up) {
      margin-top: em(44);
    }

    > li {
      border-bottom: 1px solid transparentize($base-border-color, 0.75);
    }
  }

  a {
    @include link-variant($gray-dark);
    display: block;
    padding: 0.5em;
    text-decoration: none;

    &:hover {
      background: transparentize($gray, 0.95);
    }
  }
}


// Active Flyover
body.flyover-in {
  overflow: hidden;

  .header-primary,
  .content-primary,
  .up-next {
    @include transition(-webkit-filter $transition-duration ease-in-out);
    -webkit-filter: blur(2px);
  }
}

.content-primary {
  padding: 1em;
}

.post {
  @extend .wrap;
}

.up-next {
  background: darken($white, 5%);
  padding: 6em 1em;
}
