/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _variables.scss
 * _mixins.scss
 * _utilities.scss
 * _typography.scss
 * _buttons.scss
 * _forms.scss
 * _lists.scss
 * _tables.scss
 * _library.scss     - Custom classes used throughout the app.
 * _module_name.scss - Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   - Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
body {
  background-color: $beige;
  color: $black;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;

  @include media($tablet) {
    font-size: $base-font-size-tablet;
  }
}

.header-primary {
  background-color: $gray-darker;
  padding: 1.5em;
  margin: 0;

  @include media($desktop) {
    margin: 0 0 2em;
  }

  @include media($large-desktop) {
    margin: 2em 0;
    border-radius: $base-border-radius;
  }
}

a, a:visited {
  color: $gray-dark;
  text-decoration: none;
}

a:hover, a:active {
  color: lighten($gray-dark, 30%);
}

.nav-primary {
  @include fill-parent();

  @include media($desktop) {
    @include span-columns(3 of 12);
  }
}

.nav-menu {
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;

  a, a:visited {
    @extend %block-link;
    background-color: $white;
    border-bottom: 1px solid #e6e6e6;
    padding: .75em 1em .75em 45px;
    position: relative;

    &:hover:not(.active) {
      background-color: $orange;
      color: $white;
    }
  }

  .nav-action {
    font-size: em(16, $base-value);
    font-weight: bold;

    &:last-child {
      border-bottom: 0;
    }
  }

  .active {
    a, a:visited {
      background-color: $orange-light;
      border-bottom: 1px solid #e6e6e6;
      color: $white;
    }
  }

  $nav-icon-size: 14px;

  .fa {
    font-size: $nav-icon-size;
    left: $nav-icon-size;
    margin-top: -#{$nav-icon-size / 2};
    position: absolute;
    top: 50%;
  }

  @include media($desktop) {
    border-radius: $base-border-radius;
  }
}

.nav-submenu {
  @extend .nav-menu;
  border-radius: 0;
  display: none;

  .nav-action-sub {
    font-size: 12px;

    &:not(:last-child) a {
      border: 0;
    }
  }
}

.nav-menu.child-active .nav-submenu {
  display: block;
}

.content-primary {
  padding: 1.5em;
  @include fill-parent();

  @include media($desktop) {
    padding: 0;
    @include span-columns(9 of 12);
    @include omega();
  }
}

.footer-primary {}
