button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.btn-icon {
  @extend %button;
  @include transition(color $transition-duration ease-in-out);
  padding: 0.5em;
}

.btn-with-circle {
  @extend %button;
  color: $base-link-color;
  font-family: $sans-serif;
  line-height: 1.25em;
  text-decoration: none;

  &:hover > .fa {
    border-color: $hover-link-color;
  }

  > .fa {
    @include transition(border-color $transition-duration ease-in-out);
    border-radius: 50%;
    border: 1px solid $base-link-color;
    display: inline-block;
    height: em(25);
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: em(25);

    &:before {
      @include position(absolute, 6px null null 7px);
      font-size: em(14);
    }
  }
}
