.logo-cs {
  @include hide-text;
  background: url('../img/logo-cs-mini.png') no-repeat 0 0;
  background-size: 23px 22px;
  display: inline-block;
  height: 22px;
  margin: 0;
  vertical-align: top;
  width: 23px;

  @include hidpi(2) {
    background-image: url('../img/logo-cs-mini_2x.png');
  }
}
