.logo-cs {
  @include hide-text;
  background: url('../img/logo-cs-mini.png') no-repeat 0 0;
  background-size: 22px 23px;
  display: block;
  height: 23px;
  margin: 0;
  vertical-align: middle;
  width: 22px;

  @include hidpi(2) {
    background-image: url('../img/logo-cs-mini_2x.png');
  }

  a {
    @extend %block-link;
  }
}
