ul, ol {
  padding-left: $base-line-height;

  @include media($small-only) {
    font-size: em(20);
    line-height: 1.45em;
  }

  &%list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}
