// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'proxima-nova', $helvetica;
$serif: 'freight-text-pro', $georgia;

$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$em-base: 22;
$base-font-size: 22px;
$base-line-height: em(33);
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

// Grayscale
$black:                 #111;
$gray-darker:           #222;
$gray-dark:             #333;
$gray:                  #555;
$gray-light:            #999;
$gray-lighter:          #d6d6d6;
$white:                 #fff;

// Colors
$blue:                  #477DCA;
$beige:                 #ececec;
$green:                 #46a546;
$green-light:           #E6EFC2;
$red:                   #9d261d;
$red-light:             #FBE3E4;
$yellow:                #fe9800;
$yellow-light:          #FFF6BF;
$orange:                #da6b11;
$orange-light:          #fe925d;
$orange-lightest:       #fea87d;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Brand
$success:               $green;
$info:                  $blue;
$warning:               $yellow;
$danger:                $red;



// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $gray-dark;
$base-accent-color: $orange;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $gray-light;

// Flash Colors
$error-color: $red-light;
$notice-color: $yellow-light;
$success-color: $green-light;

// Transition Speed
$transition-duration: 0.3s;
