/**** Library ****/
.page {
  @include outer-container();
}

.logo-cs {
  background: url('../img/logo-cs.png') no-repeat 0 -38px;
  display: inline-block;
  height: 26px;
  margin: 0;
  text-indent: -9999px;
  vertical-align: middle;
  width: 216px;
  @include hide-text;

  @include hidpi(2) {
    background-image: url('../img/logo-cs@2x.png');
    background-size: 216px 74px;
  }

  @include media($tablet) {
    height: 37px;
  }

  a {
    @extend %block-link;
  }
}

.content-section {
  @include span-columns(12);
  padding: 2em 0;

  h2:first-of-type {
    @extend .flush-top;
  }
}

.thirds {
  padding: 0 1em;
  @include span-columns(4 of 12);
}

hr {
  background: $base-border-color;
  margin: 0;
  border: 0;
  height: 1px;
  @include span-columns(12);
}

.screenshot-container {
  @include fill-parent();

  .screenshot {
    border: 1px solid $base-border-color;
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  @include media($desktop) {
    background: url('../img/imac-blank.png') no-repeat top left;
    border: 0;
    height: 532px;
    margin: 0 auto;
    width: 716px;
    position: relative;

    // target height: 660w, 370h
    .screenshot {
      height: 370px;
      left: 28px;
      position: absolute;
      top: 28px;
      width: 660px;
    }
  }
}
